.searchContainer {
    padding: 9px 143px;
    margin-top: 10px;
    border-radius: 12px;
    border-color: lightgray !important;
    background: no-repeat;
}
.searchHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.outerContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.findFieldStyle{

    float: left;
    width: 20%;
    height: 20%;
    border: 1px solid black;
}

.listcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    margin: 10px;
    width: 450px;

    font-family: touse;

    transition-property: box-shadow;
    transition-duration: 0.25s;
}

.list:hover {
    box-shadow: 0 0 15px grey;
}

.sepline {
    height: 1px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin-top: 5px;
}
.listfilter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: touse;
    padding: 10px;
}
.workFlowBtn
{
    background-color: #90EE5A;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    color: white;
}
.taskFlowBtn{
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    color: white;
}
.shuffle{
    background-color: blueviolet;
}
.primary{
    background-color:  #3a5cd9;
}
.secondary{
    background-color: #90EE5A;
}
.danger{
    background-color: red;
}
svg.grey {
    fill: gray;
  }
  svg.green {
    fill: green;
  }
  svg.blue {
    fill: #3a5cd9;
  }
  .checkMark{
    position: relative;
    left: 423px;
    top: -14px;
  }
  .workFlowIcons{
    position: relative;
    left: 397px;
    top: -14px;
    width: 30px;
    height: 22px;
  }
  .deleteIcon{
      fill:red
  }
  .editIcon{
    fill: #3a5cd9;
  }
  .workFlowCheckMark{
    position: relative;
    left: 333px;
    top: 118px;
  }
  .list div h4{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
  }
  